
body {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    height: 100vh; /* 100% da altura da viewport */
    margin: 0; /* Remove margens padrão do corpo */
}

.countDown {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center; /* Centraliza o texto dentro dos itens */

}

.countDown-title {
    font-size: 36px; /* Tamanho maior da fonte para o título */
    font-weight: bold; /* Adiciona negrito ao título */
    margin-bottom: 20px; /* Adiciona margem abaixo do título */
    margin-top: -90px;
    
}

.countDown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    padding: 8px;
    border: 1px #000 solid;
    margin: 5px; /* Adicionando margem entre os itens */
}

.countDown-number {
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold; /* Adicionando negrito para os números */
}

.countDown-number-subtitle {
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}

.countDown-buttons {
    display: flex;
    justify-content: space-between; /* Espaço entre os botões */
    margin-top: 10px; /* Adicionando margem acima dos botões */
}

#startCountdownBtn,
#stopCountdownBtn {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto branca */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    font-size: 12px; /* Tamanho da fonte */
    border: none; /* Remover a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor ao passar por cima */
}

#startCountdownBtn:hover,
#stopCountdownBtn:hover {
    background-color: #45a049; /* Cor de fundo verde mais escura ao passar por cima */
}

#startCountdownBtn {
    margin-right: 10px; /* Adiciona margem à direita do botão "Iniciar" */
}

