
body {
    font-family: 'Arial', sans-serif;
    /* Defini a cor de fundo geral do corpo do documento */
    background-color: #6e6e6e; /* Cor de fundo geral */
}

/* Estilos para o contêiner principal do formulário */
.container {
    /* Aqui eu defini a largura máxima e centraliza o contêiner na página */
    max-width: 450px;
    margin: 20px auto; /* Aumentei o espaçamento para melhorar a aparência */
    /* Defini a cor de fundo do contêiner */
    background-color: #ffffff; 
    /* Adicionando  bordas arredondadas ao contêiner */
    border-radius: 15px; 
    /* Garantindo que as bordas arredondadas sejam aplicadas corretamente */
    overflow: hidden; 
    /* Adiciona uma borda preta ao redor do contêiner */
    border: 3px solid black; 
}

/* Estilos para o conteúdo do formulário dentro do contêiner */
.form_content {
    /* Usaando um layout de grade (grid) para organizar os elementos do formulário */
    display: grid;
    gap: 10px;
    /* Adicionei um preenchimento interno ao formulário para destacá-lo do contêiner */
    padding: 20px; /* Adicionei um preenchimento interno ao formulário para destacá-lo do contêiner */
}

/* Adiciona estilos específicos para rótulos no formulário */
label {
    /* Fazendo os rótulos ficarem em negrito */
    font-weight: bold;
}

/* Estilos para campos de entrada de texto, senha, data e telefone */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    /* Ocupa 100% da largura do contêiner */
    width: 100%;
    /* Adicionei preenchimento interno e ajustei a caixa-modelo para incluir preenchimento e borda */
    padding: 15px; /* Aumentei o preenchimento para melhorar a  aparência */
    box-sizing: border-box;
    /* Adicionei uma borda sólida cinza aos campos de entrada */
    border: 2px solid grey;
    /* Adicionei bordas arredondadas aos campos de entrada */
    border-radius: 13px;
    /* Ajustei o espaçamento superior para melhorar a  aparência */
    margin-top: 15px; /* Ajustei o espaçamento superior para melhor aparência */
}

/* Estilos para o botão de envio do formulário */
input[type="submit"] {
    /* Defini a a cor de fundo do botão de envio */
    background-color: #4CAF50;
    /* Defini a cor do texto no botão de envio */
    color: white;
    /* Adicionei preenchimento interno ao botão de envio */
    padding: 15px 20px; /* Ajustei o preenchimento para melhorar a  aparência */
    /* Removi a borda padrão do botão de envio */
    border: none;
    /* Adicionei bordas arredondadas ao botão de envio */
    border-radius: 5px;
    /* Defini o cursor  sobre o botão de envio */
    cursor: pointer;
    /* Adicionei uma borda preta ao redor do botão de envio */
    border: 2px solid black;
}

/* Estilos para o botão de envio do formulário quando o mouse pasa sobre ele */
input[type="submit"]:hover {
    /* Muda a cor de fundo do botão de envio ao pasar sobre ele */
    background-color: #45a049;
}
