
.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    width: 100vw;
    margin-left: 1rem;
  }
  
 
  .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
 
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
 
  .personalInfo {
    margin-top: 1rem;
  }
  
 
  .personalInfo p {
    margin-bottom: 0.5rem;
  }
  
 
  .bloodType {
    font-weight: bold;
  }
  
 
  .editButton,
  .deleteButton {
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
  }
  
 
  .editButton {
    background-color: #3b82f6;
    color: #ffffff;
  }
  
  .deleteButton {
    background-color: #dc2626;
    color: #ffffff;
    margin-left: 0.5rem;
  }
  